@mixin animation-mixin($animation-value) {
  -webkit-animation: $animation-value;
  -moz-animation: $animation-value;
  animation: $animation-value;
}

.macro-dialog-element {
  position: absolute;
  top: 50px;

  &::backdrop {
    opacity: 0;
  }
}

.macro-dialog-element[open] {
  @include animation-mixin(macro-dialog-element-fade-in 0.2s ease-in forwards);
}

.macro-dialog-element-backdrop {
  position: fixed;
  width: 100dvw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100101; /* Over Sugarcube Dialogs */
  &.open {
    @include animation-mixin(
      macro-dialog-element-backdrop-fade-in 0.2s ease-in forwards
    );
  }
  &.close {
    @include animation-mixin(
      macro-dialog-element-backdrop-fade-out 0.2s ease-out forwards
    );
  }
}

@keyframes macro-dialog-element-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes macro-dialog-element-backdrop-fade-in {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes macro-dialog-element-backdrop-fade-out {
  0% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
